@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    /* Tudo que tiver forá da borda vai ficar escondido, assim o arredondamento aparece */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/metal.jpg') no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #5fceca;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    transform: translateY(-14px);
    border: 0px;
    border-radius: 8px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > div.campo {
    display: block;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border: 2px solid #5f2c82;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 2px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #316d6b;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid #49a09d;
    color: #316d6b;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #5fceca;
}

form > a.botao > span {
    font-size: 0.8em;
}